<article>
<h1>  Details of  <%= @post.title %></h1>

<p>
<li> <%= @post.text%> </li>
</p>
</article>
<%= link_to "Back to All Posts" , posts_path %>


<footer>
  <p>Made By: Kaushik Ghosh<br>
  <a href="mailto:kaushikghosh199832@gmail.com">kaushikghosh199832@gmail.com</a></p>
</footer>