/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 table, th, td {
    border: 1px solid black;
  }

  table {
    width: 90%;
  }

  th {
    height: 70px;
  }
  tr{
      text-align:  center;
     
  }

  td {
    text-align:  center;
  }
  h1{
      text-align: center;
      
  }

  .greenbuttton{
    margin-left: 280px;
    
  }

  form{
    border: 3px solid #f1f1f1;
    position: relative;
   
    border-color: rgb(32, 179, 110);
    margin-left: 600px;
    margin-right: 500px;
  
    position: center;
    margin-top: 100px;

  
  }

  footer {
    text-align: center;
    padding: 3px;
    margin-top: 345px;
    background-color: DarkSalmon;
    color: white;
  }

 